# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# ===============================
# Virtual Environment
# ===============================
env/
venv/
ENV/
.venv/

# ===============================
# Django
# ===============================
db.sqlite3
*.sqlite3
media/
staticfiles/

# ===============================
# Environment variables
# ===============================
.env
.env.*

# ===============================
# IDEs / Editors
# ===============================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Tests / Coverage
# ===============================
htmlcov/
.coverage
.pytest_cache/

# ===============================
# Node (if frontend exists)
# ===============================
node_modules/
